
// supporting my jquery removal in jquery-console
// i need this so that I don't set css inline (my CSP disallows this)
.jquery-console-typer {
   position: absolute;
  top: 0;
  left: -9999px; 
}


.hide {
    display: none;
}

.fixposition {
    position: fixed;
}

.blockdisplay {
    display: inline-block;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadein {
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeout {
    animation-name: fadeout;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

